// COLORS
$primary-color: #a5e6ec;
$secondary-color: #62adb4;

$text-color1: #ebca45;
$text-color2: #f7d758;

$white-color: #f8f8f9;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
